{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rentals table</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
<table>
<thead>
    <tr>
        <th>Rental name</th>
        <th>ID</th>
        <th>Checkin</th>
        <th>Checkout</th>
        <th>Previous reservation id</th>
    </tr>
</thead>
<tbody>
    {% for reservation in reservations_page %}
        <tr>
            <td>{{ reservation.rental.name }}</td>
            <td>{{ reservation.id }}</td>
            <td>{{ reservation.checkin_at|date:"Y-m-d" }}</td>
            <td>{{ reservation.checkout_at|date:"Y-m-d" }}</td>
            <td>{{ reservation.previous_id|default:"-" }}</td>
        </tr>
    {% endfor %}
</tbody>
</table>
<div class="pagination">
    <span class="step-links">
        {% if reservations_page.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ reservations_page.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ reservations_page.number }} of {{ reservations_page.paginator.num_pages }}.
        </span>

        {% if reservations_page.has_next %}
            <a href="?page={{ reservations_page.next_page_number }}">next</a>
            <a href="?page={{ reservations_page.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
</body>
</html>